.dev-rack{
	display: flex;
	border-bottom: 1px solid #AAA;
}
 .change-p-bt{
	align-self: center;
	margin-bottom: 1rem;
}
.change-p-bt .bt-1, .bt-2{
	border: 1px solid #EEE;
	background-color: #EEE;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	padding: unset;
	outline: none;
}
.bt-1:hover{
	background-color: #AAA;
	border-color: #AAA;
}
.bt-2:hover{
	background-color: #AAA;
	border-color: #AAA;
}

.dev-rack .dev-info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 10px;
}

.dev-info .state{
		width: 15px;
    height: 15px;
	border: 1px solid green;
	background-color: green;
	box-sizing: border-box;
}
.dev-info .name{
	font-weight: bold;
}
.dev-info .ip{
	font-size: 13px;
}
.add-footer{
	display: flex;
	justify-content: flex-end;
	background-color: #EEE;
	height: 2rem;
}
.add-footer .adding{
	background-color: #EEE;
	margin-left: 15px;
	border-color: unset;
	outline: unset;
	border-style: unset;
	box-sizing: border-box;
	padding-right: 10px;
}
.add-footer .title{
	align-self: center;
}