.DO-p{
	display: grid;
	grid-template-columns: 20rem;
	grid-template-rows: auto 30rem auto;
	position: relative;
}
.DO-p-wrapper{
	display: grid;
	grid-template-columns: 20rem;
	grid-template-rows:  auto 26rem ;
	grid-row: 2/3;
	position: absolute;
	z-index: 2;
}

.DO-p .dev-rack-wrapper{
	grid-row: 3/6;
}