
.login-p .header{
	margin-bottom: 3rem;
}
.login-p .header .circle-border{
	display: flex;
	height: 120px;
	background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(84,87,124,1) 56%, rgba(255,255,255,1) 100%); 
	box-sizing: border-box;
	clip-path: circle(55px at center);
	justify-content: center;
}
.login-p .clip-circle{
	clip-path: circle(50px at center);
}
.login-p .main{
	display: flex;
}
.longin-p .main .login-bx{

}
.login-bx-id, .login-bx-pw{
	padding-bottom: 5px;
	border-bottom: 1px solid #AAA;
}
.login-p .chk-bx{
	font-size: 0.75rem;
	margin-bottom: 5rem;
}
.login-p .chk-bx input{
	width: 18px;
	height: 18px;
}
.login-p .chk-bx input:hover{
	background-color: #AAA;
}
.login-p .chk-bx span{
	position: relative;
    top: -5px;
    right: -5px;
}
.login-bt{
	background-color: #EEE;
	height: 2rem;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 65px 10px 65px;
}
.login-bt:hover{
	background-color: #AAA;
	color: white;
	transition: all 0.3s;
}
.login-bt:active{
	background-color: #575077;
	transition: all 0.3s;
}
